/**
 * Dark 1
 */
.app-theme-d1, .app-theme-d1-hover:hover, .app-theme-d1-active:active {
  color:#fff !important;
  background-color:$theme-color-d1 !important;
}

.app-text-theme-d1, .app-text-theme-d1-hover:hover, .app-text-theme-d1-active:active {
  color:$theme-color-d1 !important;
}

.app-border-theme-d1, .app-border-theme-d1-hover:hover, .app-border-theme-d1-active:active, .app-border-theme-d1-focus:focus {
  border-color:$theme-color-d1 !important;
}
