/**
 * Dark 2
 */
.app-theme-d2, .app-theme-d2-hover:hover, .app-theme-d2-active:active {
  color:#fff !important;
  background-color:$theme-color-d2 !important;
}

.app-text-theme-d2, .app-text-theme-d2-hover:hover, .app-text-theme-d2-active:active {
  color:$theme-color-d2 !important;
}

.app-border-theme-d2, .app-border-theme-d2-hover:hover, .app-border-theme-d2-active:active, .app-border-theme-d2-focus:focus {
  border-color:$theme-color-d2 !important;
}
