/**
 * This theme colors is based on w3School deep-orange theme
 * https://www.w3schools.com/lib/w3-theme-deep-orange.css
 */

$theme-color-l5: #fff5f2;
$theme-color-l4: #ffddd3;
$theme-color-l3: #ffbca7;
$theme-color-l2: #ff9a7b;
$theme-color-l1: #ff7850;
$theme-color: #ff5722;
$theme-color-d1: #ff4107;
$theme-color-d2: #e93600;
$theme-color-d3: #cb2f00;
$theme-color-d4: #ae2900;
$theme-color-d5: #912200;
