/**
 * This theme colors is based on w3School deep-purple theme
 * https://www.w3schools.com/lib/w3-theme-deep-purple.css
 */

$theme-color-l5: #f6f3fb;
$theme-color-l4: #e0d6f2;
$theme-color-l3: #c1ade5;
$theme-color-l2: #a384d8;
$theme-color-l1: #845bcb;
$theme-color: #673ab7;
$theme-color-d1: #5d34a4;
$theme-color-d2: #532e92;
$theme-color-d3: #482880;
$theme-color-d4: #3e236d;
$theme-color-d5: #341d5b;
