/**
 * This theme colors is based on w3School deep-orange theme
 * https://www.w3schools.com/lib/w3-theme-indigo.css
 */

 $theme-color-l5: #f3f4fb;
 $theme-color-l4: #d8dcf1;
 $theme-color-l3: #b1b8e3;
 $theme-color-l2: #8995d6;
 $theme-color-l1: #6271c8;
 $theme-color: #3f51b5;
 $theme-color-d1: #3949a3;
 $theme-color-d2: #334191;
 $theme-color-d3: #2d397f;
 $theme-color-d4: #26316d;
 $theme-color-d5: #20295b;
