/**
 * This theme colors is based on w3School pink theme
 * https://www.w3schools.com/lib/w3-theme-pink.css
 */

 $theme-color-l5: #fef2f6;
 $theme-color-l4: #fef2f6;
 $theme-color-l3: #f6a6c1;
 $theme-color-l2: #f279a1;
 $theme-color-l1: #ed4d82;
 $theme-color: #e91e63;
 $theme-color-d1: #d91557;
 $theme-color-d2: #c1134d;
 $theme-color-d3: #a91143;
 $theme-color-d4: #910e3a;
 $theme-color-d5: #790c30;
