/**
 * This theme colors is based on w3School teal theme
 * https://www.w3schools.com/lib/w3-theme-teal.css
 */

$theme-color-l5: #e9fffd;
$theme-color-l4: #b7fff8;
$theme-color-l3: #6efff1;
$theme-color-l2: #26ffe9;
$theme-color-l1: #00dcc6;
$theme-color: #009688;
$theme-color-d1: #008578;
$theme-color-d2: #00766a;
$theme-color-d3: #00766a;
$theme-color-d4: #00766a;
$theme-color-d5: #00766a;
