.toasts-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
}

.toast {
  width: 250px;
  background-color: white;
}

/**
 * TODO: Trouver un moyen de virer le margin-bottom
 *       car il empeche le click sur le button
 */
.toast:not(:last-child) {
  margin-bottom: 16px;
}
